.app-layout {
  height: 100vh;
  background: var(--color-bg-app);
  display: flex;
  flex-direction: column;
}

.app-content {
  padding: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
